$fontColor: #89d0dd;
$colorHeading: #009;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h6 
{
color: #009;
}

tr:nth-child(even) {background: violet;}
tr:nth-child(odd) {background: pink;}
